.log
.travis.yml
node_modules
.idea
.tmp
.DS_Store
coverage
src
.editorconfig
.npmrc
.nvmrc
.gitattributes
.gitignore
tsconfig.json
tsconfig.test.json
jest.config.ts
eslint.config.mjs
.prettierrc
.husky
yarn-error.log
